body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover; /* Фон на весь экран */
    color: #333;
    position: relative;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.5s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.firefly {
    position: absolute;
    width: 50px; /* Увеличиваем размер светлячков */
    height: 50px; /* Увеличиваем размер светлячков */
    background: yellow;
    border-radius: 50%;
    text-align: center;
    color: black;
    line-height: 50px; /* Выравниваем текст по центру */
    cursor: pointer;
    box-shadow: 0 0 20px yellow; /* Добавляем свечение */
    font-size: 16px; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Делаем текст более заметным */
}

footer {
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для подвала */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.7); /* Эффект свечения подвала */
    font-size: 24px; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Делаем текст жирным */
    animation: glow 1.5s infinite alternate; /* Добавляем эффект свечения */
}

@keyframes glow {
    0% { text-shadow: 0 0 10px rgba(255, 255, 0, 0.8); }
    100% { text-shadow: 0 0 20px rgba(255, 255, 0, 1); }
}





